<div class="col-md-6">
  <h1>Work in Progress</h1>
  <h2>I'm working as hard as I can to get some projects written up so you can see them here! Please see my GitHub page for a better reflection of projects I've worked on.</h2>
</div>
