<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'header.jpg', class: 'img-responsive vcenter' %>
      <!-- <img src="images/header.jpg" alt="My Face" class="img-responsive vcenter"> -->
    </div>
    <div class="col-md-8">
      <h1>A Little Bit About Me</h1>
      <p>My name is Anthony Castelli, I originally grew up in Southern Illinois near St. Louis, but went to high school near Chicago. I graduated from the University of Illinois at Urbana-Champaign in the spring of 2015 with a bachelor's degree in Atmospheric Science. While in college I found I liked to program, and tried on numerous occasions to teach myself. However, by the time I graduated I still didn't really feel like I had enough experience with one language to get a job doing something interesting. So, I applied to the Dev Bootcamp program and moved to Redwood City, California to start my new life as a web developer!</p>

      <p>Some interesting things about me include:</p>
      <ul>
        <li>I started college in electrical engineering, and while I ended up graduating in a totally different field, I still do a lot of side projects and learning related to EE</li>
        <li>As far back as I can remember I've been interested in plants and gardening, and I try to keep as many plants around me as I can</li>
        <ul>
          <li>Currently, I'm cultivating several kinds of succulents along with some carnivorous plants (A first for me!)</li>
        </ul>
        <li>I really like computer games, and my ideal job would involve making web-based games</li>
        <li>For DBC: Something quirky about me is that I still have my original Gamecube from 2001, and about once a year I pull it out and play through all of Pikmin 1 and 2</li>
      </ul>
    </div>
  </div>
</div>
