// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.directory-body {
  padding-top: 40px;
}

.main-page-body {
  padding-top: 0px;
}

.main-page-body > .carousel > .carousel-inner > .item > .slide-image {
  height: 500px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-top: 20px;
}

.code {
  clear: both;
  padding-right: 20px;
}

img {
  clear: both;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  padding-top: 20px;
}

.text-input {
  width: 70%;
  min-height: 100px;
}
